body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#gitNav {
    color:white;
    background-color:black; 
    padding-left: 0;
    padding-right: 0;
}

#main {
    padding-top: 100px;
    text-align: center;
}

#main h1 {
    font-size: 5em;
    font-decoration: bold;
}

#main h3 {
    font-size: 2.5em;
}

#main-buttons button {
    font-size: 1.5em;
    padding: 15px;
    width: 150px;
}

#main-buttons #lb {
    margin-left: auto;
    margin-right: 30px;
}

#main-buttons #rb {
    margin-right: auto;
    margin-left: 30px;
}
