body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    min-height: 100vh;
    max-width: 100%;
}

.row {
    max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}

a {
  color: #00B7FF;
}

#gitNav {
    color:white;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#gitNav nav {
    padding-left: 15px;
    padding-right: 15px;
}

#front-page {
    padding-left: 0;
    padding-right: 0;

    height: 100%;

}

#main {
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
}

#main h1 {
    font-size: 5em;
    font-weight: bold;
}

#main h3 {
    font-size: 2.5em;
}

#main-buttons button {
    font-size: 1.5em;
    padding: 15px;
    width: 150px;
}

#main-buttons #lb {
    margin-left: auto;
    margin-right: 30px;
}

#main-buttons #rb {
    margin-right: auto;
    margin-left: 30px;
}

#learn-more {
    padding-top: 30px;
    text-align: center;
    color: white;
    background-color: #343a40;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

#learn-more h1{
    font-weight: bold;
    font-size: 2.5em;
}

#faq {
    width: 100%;
    text-align: left;
}

#faq h3{
    font-size: 2em;
    font-weight: bold;
}

#faq p {
    font-size: 1.3em;
}

.question {
    padding: 8px;
}

#faq .sign-in {
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
}

.sign-in button {
    margin-top: 10px;
    font-size: 1.5em;
    padding: 15px;
    width: 150px;
}
